html, body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#gameCanvas {
    width: 1920px !important;
    height: 1080px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 540px);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

* {
    touch-action: none;
    user-select: none;
}
